.main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.text {
    font-family: sans-serif;
    color: darkkhaki;
    font-size: 32px;
    text-align: center;
    padding: 5rem;
}

@media screen and (max-width: 450px) {
    .text{
        font-size: 24px;
        padding: 2em;
    }
}