.main {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
    color: #928b8b;
    font-size: 1em;

    text-align: center;
}

.main a {
    color: #928b8b;
}

@media screen and (max-width: 450px) {
   .main{
       font-size: 12px;
   }
}